<%if current_user.role == "admin"%>
<div> <%= link_to "New Category", new_category_path, class:"btn btn-outline-success", data: { bs_toggle: 'modal', bs_target: '#newUserModal', remote: true } %> </div> </br>
<%end%>

<table class="table table-striped table-bordered text-light "> 
  <thead class="thead-dark">
   <tr>
    <th colspan="1">Name</th>
    <th colspan="3" style="text-align: center;">Operations</th> 
  </tr> 
  </thead> 
<tbody>

<% @category.each do |category| %> <tr> <td><h4><%= category.name %></h4></td>
<td><%= link_to 'Show', category, class:"btn btn-primary btn-lg", data: { bs_toggle: 'modal', bs_target: '#showUserModal', remote: true } %> 
</td>
<% if current_user.role == "admin" %> 
<td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class:"btn btn-danger btn-lg" %>
</td> 
<%end%> 
<%end%>
</tbody> 
</table> 
<br>

<div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showUserModalLabel">Show Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div id='showUserForm'></div>
    </div>
  </div>
</div> 

<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserModalLabel">Create Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div id='new'></div>
    </div>
  </div>
</div> 