  <div class="card">
  <div class="card-header">
    <h1>Add New Category</h1>
</div>
  <div class="card-body">
    <br/>
<%= render 'form' %>
<br/>
</div>
</div>
	<br/>
<%= link_to 'Back', books_path, class:"btn btn-dark" %>
