<%= form_with(model: @request) do |form| %>
  <div class="field form-group">
    <%= form.date_field :due_date, class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
