// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#popup {
    height: auto;
    width: 500px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    position: absolute;
    z-index: 999;
    margin: auto;
    top: 35%;
    left: 35%;
}

#show_div {
   /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;*/
}