// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background-img {
	background-image: url('/assets/library.jpg');
}

#popup {
    height: auto;
    width: 500px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    padding: 10px;
    position: absolute;
    z-index: 999;
    margin: auto;
    top: 35%;
    left: 35%;
}

