<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-success"><%= @books.title %></h1>
    <p class="lead"><%= @books.price %> PKR</p>
  </div>
</div>









